*,
*::after,
*::before{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
 html{
    font-size: 62.5%;
    scroll-behavior: smooth;

 }
 body{
     font-size: 1.6rem;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
/*Form*/
.client_form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
 }
 
 .client_label{
     font-size: 1.5rem;
    text-indent: 1rem;
    color: #3a3a3a; 
    display: inline-block;
    margin: 1rem 0;
 }
 .client_label:nth-child(2){
     margin-top: 3rem;
 }
 .client_input{
     display: block;
        font-size: 1.6rem;
        padding: 1.5rem 1rem;
        appearance: auto;
        /* border: none; */
        border: 1px solid #707070;
        margin-bottom: 2rem;
        margin-top: .6rem;
        width: 90%;
        margin-left: .3rem;
     
 }
 @media only screen and (min-width: 768px) {
   /* For mobile phones: */
   .client_input {
     width: 100%;
   }
   .client_form{
      width: 60%;
    margin: 0 auto;
   }
   .heading--tertiary{
      text-align: center;
   }
 }
 .heading--tertiary{
    text-transform: uppercase;
 }
 .client_input:focus-visible{
     outline: none;
     box-shadow: inset 0 0 .1rem #0000005e, 0 0 .2rem #00ffffa9;
     border-radius: .4rem;
     border: 1px solid #00ffff;
 }
 .client_input::placeholder{
     font-size: 1.6rem;
    color: #7c7c7c; 
 }
 .client_input--radio{
    display: none;
 }
 .client_label--radio{
    padding: 1rem 1.5rem;
    background-color: #5f5f5f;
    color: #f1f1f1;
    border-radius: .4rem;
    box-shadow: 0 .1rem .5rem #1f1f1f91;
    letter-spacing: 1px;
    transition: all  .3s ease-in;
    
 }
.client_label--radio:not(:last-child){
    margin-right: .4rem;
}
 .client_input--radio:checked + .client_label--radio{
     color: #fff;
    background-color: #1f1f1f;
    box-shadow: 0 .2rem .3rem #1f1f1f91;
 }
 #calendar_appointment{
    position: relative;
 }
 .submit{
    align-self: center;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    font-size: 1.6rem;
    background-color: #0066FF;
    color: white;
    border: none;
    border-radius: .4rem;
 }